[Unit]
Description=FastAPI app
After=network.target

[Service]
User=www-data
WorkingDirectory=/home/youssef/Project-DEVOPS-FASTAPI-2026
ExecStart=/home/youssef/Project-DEVOPS-FASTAPI-2026/venv/bin/gunicorn \
          -w 4 \
          -k uvicorn.workers.UvicornWorker \
          app.main:app \
          --bind 0.0.0.0:8080
Restart=always

[Install]
WantedBy=multi-user.target